//====================================================================================================
// .hero
.hero {
  position: relative;
  // .hero__wrapper
  &__wrapper {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  // .hero__img
  &__img {
    background: center / cover no-repeat fixed url(../img/main.jpg);
    width: 100%;
    @include adaptiveValue('height', 700, 550);
  }
  // .hero__screen
  &__screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  // .hero__box
  &__box {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    @include adaptiveValue('padding-top', 200, 130);
  }
  // .hero__container
  &__container {
    // width: 100%;
    max-width: 800px;
    @include adaptiveValue('margin-left', 200, 0);
    @media (max-width: $mobile) {
      width: 100%;
      margin: 0 auto;
    }
  }
  // .hero__title
  &__title {
    max-width: 550px;
    color: $whiteColor;
    @include adaptiveValue('font-size', 72, 25, 1200, 768, 1);
    @include adaptiveValue('padding-bottom', 70, 30);
    @include adaptiveValue('padding-top', 0, 30);
    transform: translate(0px, 120%);
    opacity: 0;
    word-spacing: 1rem;
    line-height: 1.2;
    font-weight: 700;

    & span {
      color: $activeColor;
      text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.8);
      // letter-spacing: 0.3rem;
    }
    @media (max-width: $mobile) {
      text-align: center;
      opacity: 1;
      transform: translate(0px, 0px);
    }
    @media (max-width: $mobileSmall) {
      margin: 0 auto;
    }
    @media (max-width: 360px) {
      font-size: 40px;
    }
    &._watcher-view {
      opacity: 1;
      transform: translate(0px, 0px);
      transition: transform 0.7s, opacity 0.7s;
    }
  }
  // .hero__sub-title
  &__sub-title {
    color: $whiteColor;
    font-size: 28px;
    line-height: math.div(30, 20);
    transform: translate(0px, 150%);
    opacity: 0;
    @include adaptiveValue('font-size', 28, 16, 1400, 992, 1);
    @include adaptiveValue('padding-bottom', 20, 10);

    @media (max-width: $mobile) {
      text-align: center;
      opacity: 1;
      transform: translate(0px, 0px);
    }
    & span {
      text-transform: uppercase;
      font-weight: 700;
    }
    &._watcher-view {
      opacity: 1;
      transform: translate(0px, 0px);
      transition: transform 0.9s, opacity 0.9s;
    }
  }
  // .hero__desc
  &__desc {
    color: $whiteColor;
    font-size: 28px;
    line-height: math.div(30, 20);
    transform: translate(0px, 110%);
    opacity: 0;
    @include adaptiveValue('font-size', 28, 16, 1400, 992, 1);
    @include adaptiveValue('padding-bottom', 20, 10);

    @media (max-width: $mobile) {
      text-align: center;
      opacity: 1;
      transform: translate(0px, 0px);
    }
    & span {
      text-transform: uppercase;
    }
    &._watcher-view {
      opacity: 1;
      transform: translate(0px, 0px);
      transition: transform 1.2s, opacity 1.2s;
    }
  }
}
//=============================================
// .expectation
.expectation {
  // .expectation__wrapper
  &__wrapper {
    @include adaptiveValue('padding-top', 100, 70);
    @include adaptiveValue('padding-bottom', 50, 35);
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: center / cover no-repeat url(../img/decor-4.png);
      opacity: 0.7;
      z-index: -1;
    }
  }
  // .expectation__desc
  &__desc {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
  }
  // .expectation__items
  &__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 120px;
    justify-content: center;

    @media (max-width: $mobile) {
      @include adaptiveValue('margin-left', 50, 0);
      @include adaptiveValue('margin-right', 50, 0);
    }
  }
}
//=============================================
// .expectation__item
.expectation__item {
  opacity: 0;

  &:nth-child(even) {
    transform: translateX(-50%);

    @media (max-width: $mobile) {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  &:nth-child(odd) {
    transform: translateX(50%);

    @media (max-width: $mobile) {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  &._watcher-view {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.8s, opacity 0.8s;
    transition-delay: 0.5s;
  }
}
//=============================================
// .feedback
.feedback {
  // .feedback__wrapper
  &__wrapper {
    @include adaptiveValue('padding-top', 50, 35);
    @include adaptiveValue('padding-bottom', 100, 70);
  }
  // .feedback__inner
  &__inner {
    display: flex;
    gap: 30px;
    @include adaptiveValue('margin-top', 70, 30);

    @media (max-width: $tablet) {
      flex-direction: column;
      row-gap: 50px;
    }
  }
  // .feedback__text
  &__text {
    width: 100%;
    padding-right: 70px;
    opacity: 0;
    transform: translateX(-50%);

    @media (max-width: $mobile) {
      opacity: 1;
      transform: translateX(0);
    }

    @media (max-width: $tablet) {
      width: 100%;
      text-align: center;
      padding-right: 0;
    }

    &._watcher-view {
      opacity: 1;
      transform: translateX(0);
      transition: transform 0.8s, opacity 0.8s;
      transition-delay: 0.5s;
    }
  }
  // .feedback__sub-title
  &__sub-title {
    @include adaptiveValue('font-size', 35, 20);
  }
  // .feedback__sub-title-text
  &__sub-title-text {
    @include adaptiveValue('font-size', 35, 20);
    text-transform: uppercase;
  }
  // .feedback span (active words)
  & span {
    @include adaptiveValue('font-size', 50, 30);
    font-weight: 700;
    color: $activeColor;
  }
  // .feedback__desc
  &__desc {
    font-size: 18px;
    line-height: math.div(18, 10);
    margin-top: 30px;
    text-transform: uppercase;
  }
  // .feedback__slider
  &__slider {
    min-width: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    align-self: center;
    opacity: 0;
    transform: translateX(50%);

    @media (max-width: $mobile) {
      opacity: 1;
      transform: translateX(0);
    }

    @media (max-width: $tablet) {
      width: 90%;
    }

    &._watcher-view {
      opacity: 1;
      transform: translateX(0);
      transition: transform 0.8s, opacity 0.8s;
      transition-delay: 0.5s;
    }
  }
  // .feedback__capture
  &__capture {
    margin-top: 20px;
    color: #aaa;
  }
}
//====================================================================================================
